
.logo img:nth-child(1){
    width: 120px;
    height: 48px;
    position: absolute;
    top: 40px;
    left: 40px;
    gap:40px; 
}
.logo img:nth-child(2){
    visibility: hidden;
}
.texto{
    width: 577px; 
    position:absolute; 
    top: 168px; 
    left: 240px; 
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    border: none;
}
.texto::placeholder{
    color: #0a3871;
}
.texto:focus,
.texto:active{
    border: none; 
    outline: none;
}
.terminos{
    position: absolute;
    margin-top: 10px;
    top: 851px;
    left: 240px; 
    display: flex;
    gap: 8px;
    width: 229px;
    height: 40px;
    font-family: "Inter";
    font-weight: 400;
    opacity: 80%;
    color: #495057;
    font-size: 15px;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute; 
    width: 680px;
    top: 885px;
    left: 240px;
    gap: 24px;
}
.botEncriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    background: #0a3871;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border-color: #495057;
}
.botDesencriptar{
    height: 67px;
    width: 328px;
    border-radius: 24px; 
    padding: 24px;
    background: #d8dfe8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:#0a3871; 
}
.botEncriptar:hover,
.botDesencriptar:hover,
.copiar:hover{
    transform: scale(1.1);
}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px; 
    background: #ffffff;
    border-radius: 42px;
    box-shadow: 0px 24px 32px -8px;
}
.muñeco{
    width: 336px;
    height: 304px;
    position: absolute;
    top: 283px; 
}
.mensajeEncriptado{
    position: absolute;
    top: 619px; 
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 1%;
    width: 336px;
    justify-content: center;
}
.mensajeEncriptado h2{
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.mensajeEncriptado p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}
.mensajeParaCopiar{
    width: 336px;
    position: absolute;
    top: 25px;
    height: 781px;
    padding: 10px;
    box-sizing: border-box;
    bottom: 410px;
}
.mensajeParaCopiar p {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}
.copiar{
    width: 328px;
    border-radius: 24px; 
    padding: 24px;
    background: #d8dfe8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:#0a3871; 
    height: 67px;
    position: absolute;
    top: 848px;
    visibility: hidden;

}.aparecer{
    visibility: visible;
}
.ocultar{
    display: none;
    visibility: hidden;
}
@media screen and (max-width:830px) {
    .logo img:nth-child(2){
        position: absolute;
        display: block;
        visibility: visible;
        width: 31.09px;
        height: 50.58px;
        top: 73.42px;
        left: 40px;
    }.logo img:nth-child(1){
        display: none;
        visibility: hidden;
    }.texto{
        width: 688px;
        top: 240px; 
        left: 40px;
    }.terminos{
        width: 229px;
        height: 18px;
        top: 836px;
        left: 40px;
        display: flex;
        gap: 8px; 
    }.botones{
        left: 40px;
        top: 870px; 
    }.encriptado{
        width: 688px;
        height: 243px;
        top: 1001px; 
        left: 40px;
        border-radius: 32px;
        padding: 32px;
        gap: 32px; 
    }.encriptado img{
        visibility: hidden;
        top: 0;
        width: 10px;
        height: 10px;
    }.mensajeEncriptado{
        top: 50px;
        width: 624px;
    }
    .mensajeParaCopiar{
        height: 180px;
        width: 624px;
    }.copiar{
        width: 624px;
        top: 190px;
        margin: 15px;
    }
}
@media screen and (max-width:480px){
    .logo{
        width: 375px;
        height: 96px;
    }.logo img:nth-child(1){
        display: none;
        visibility: hidden;
    }.logo img:nth-child(2){
        position: absolute;
        display: block;
        visibility: visible;
        top: 24px;
        left: 16px;
    }.texto{
        width: 343px;
        height: 48px;
        position: absolute;
        top: 152px;
        left: 16px;
    }
    .terminos{
        width: 229px;
        height: 18px;
        top: 451px;
        left: 16px;
        display: flex;
        gap: 8px;
    }.botones{
        width: 343px;
        height: 158px;
        top: 485px;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }.botDesencriptar,.botEncriptar{
        width: 343px;
        height: 67px;
        border-radius: 24px;
        padding: 24px;
        gap: 8px;
    }.encriptado img{
        top: 0; 
        display: none;
        visibility: hidden;
    }.encriptado{
        width: 327px;
        height: 286px;
        position:absolute; 
        top: 707px;
        left: 16px;
        border-radius: 32px;
        padding: 32px;
        display: flex;
        gap: 32px;
    }
    .mensajeEncriptado{
        top: 15%; 
    }.copiar{
        width: 279px;
    }
}