.container{
    background: #f3f5fc;
    width: 45%;
    position: absolute;
    left: 20%; 
    top: 150px;
}
.texto{
    width: 517px;
    height: 300px; 
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    border: none;
}
.texto::placeholder{
    color: #0a3871;
}
.texto:focus,
.texto:active{
    border: none; 
    outline: none;
}
.terminos{
    position: absolute;
    margin-top: 10px;
    top: 481px; 
    display: flex;
    gap: 8px;
    width: 80%;
    height: 40px;
    font-family: "Inter";
    font-weight: 400;
    opacity: 80%;
    color: #495057;
    font-size: 15px;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute; 
    width: 680px;
    top: 521px;
    gap: 24px;
}
.botEncriptar{
    width: 328px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: #0a3871;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
    color: #ffffff;
    border-color: #495057;
}
.botDesencriptar{
    width: 328px;
    border-radius: 24px; 
    padding: 24px;
    gap: 8 px; 
    background: #d8dfe8;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    justify-content: center;
    color:#0a3871; 
}
.botEncriptar:hover,
.botDesencriptar:hover{
    transform: scale(1.1);
}